{% extends "base.html" %}

{% block content %}

<div id="page-content">
    <form action="{{ url_for('home') }}">
		<table>
		<tr>
            <td>
				<strong>Date</strong>
			</td>
            <td>
				<strong>Tick</strong>
			</td>
			<td>
				<strong>Historic Buy Price</strong>
			</td>
			<td>
				<strong>Historic Demand</strong>
			</td>
            <td>
				<strong>Historic Sell Price</strong>
			</td>
		</tr>
		
		{% for row in rows %}
		<tr>
			<td>
				{{row[1]}}
			</td>
			<td>
				{{row[2]}}
			</td>
		</tr>
		{% endfor %}
		<tr>
		<td></td>
		<td align="right"><input type="submit" value="Back to menu"></td>
		</tr>
		</table>
	</form>
</div>

{% endblock %}
